
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
#onhead{
    background:radial-gradient(248px at center center, rgb(22, 217, 227) 0%, rgb(48, 199, 236) 47%, rgb(70, 174, 247) 100%);
    height:100px;
    position: sticky;
    margin-bottom: 10px;
}
/*main*/
.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
  }
  
  .flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 80%;

  }
  
  .flex-item-right {
    background-color: dodgerblue;
    padding: 10px;
    flex: 30%;
    align-self: center;
  }
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
  /* div text*/
  .home__title-color {
    color:rgb(27, 95, 204);
    margin-left:2px;
}
.button{
    background: #0b2edd;
    color:#fff;
    text-align:center;
    border-radius: 100px;
    text-decoration: none;
    padding: 20px 30px;
    display: inline-block;
}
.button:hover{
    color:red;
    
}
/*for social icon*/
.socialicon {
    gap: 20px;
    margin:auto;
}

.home_icon {
    font-size: 2.5rem;
    color:#111;

}
/*about container*/

#about-right{
  
    background-color: dodgerblue;
    padding: 10px;
    flex: 30%;
    align-self: center;
}
#about-left{
  
    
    background-color: #f1f1f1;
    padding: 10px;
    flex: 80%;
    text-align: justify;
}

/*skill box*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
  
  }
.skill_icon{
    width:50px;
}
